.button-2 {
  font-size: 0.8rem !important;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 24px;
  display: inline-block;
  text-align: center;
  border: 2px solid;
  padding: 12px 24px;
  border-radius: 8px;
  background: transparent !important;
  position: relative;
  letter-spacing: 1px;
  font-weight: 600;
}
.button:before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black !important;
  opacity: 0.35;
  transform: translate3d(10px, 10px, 0);
  /* z-index: 40; */
  border-radius: inherit;
  transition: 0.35s ease-in-out;
}
.button:hover:before {
  transform: translate3d(0, 0, 0) !important;
  opacity: 0.35 !important;
  color: black !important;
}
.button:hover a {
  color: #000 !important;
  z-index: 90;
}
/* .button-2:before {
  background: teal !important;
} */

.button-2:before {
  background: #fe4a49 !important;
}
.button button-2 {
  color: black;
}
