.hero {
  display: flex;
}
@media screen and (min-width: 768px) {
  /* .hero-container {
    display: grid;
    grid-template-columns: 1fr 12fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header-logo header-logo menu"
      "text-bloc text-bloc menu"
      ". . .";
    width: 97vw;
  } */
  .hero-container {
    display: flex;
    width: 97vw;
  }

  /* .header-logo {
    grid-area: header-logo;
    justify-self: start;
  } */

  /* .menu {
    grid-area: menu;
    justify-self: end;
  }

  .text-bloc {
    grid-area: text-bloc;
    padding-bottom: 1.8rem;
  }
  .contact-button {
    display: grid;
    justify-self: end;
  } */
}
